*.o
*.gch
server/main
server/logs/*
server/temp/*
build
tests
/uml/*
!/uml/chat.vpp
client/*
!client/client.py
server/backup
server/backup-sha1
server/profiler
.~*
gmon.out
venv
__pycache__
.idea
libfecc/main
unit-testing/main